* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #050505;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 4000px;
}
.container {
  margin: auto;
  width: 1170px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 40px 0;
  span {
    margin-top: 10px;
    font-size: 30px;
    cursor: pointer;
  }
  ul {
    list-style: none;
    display: flex;
    li {
      margin-right: 15px;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
      &:last-child {
        background-color: white;
        color: #050505;
        padding: 10px 20px;
        border-radius: 7px;
      }
    }
  }
}
header {
  text-align: center;
  padding: 40px 0;
  h4 {
    color: #59b97e;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  p:not(:last-child) {
    font-size: 40px;
    font-weight: bolder;
  }
  p.scd {
    color: #8a8f98;
    font-size: 15px;
  }

  .btn {
    background-color: #59b97e;
    padding: 15px 30px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
  }
}
section.second-section {
  div {
    width: 75%;
    margin: auto;
    padding: 40px 0;

    img {
      width: 100%;
    }
  }
}
.third-section {
  background-color: #0f0f0f;
  padding: 40px 0;
  position: relative;
  overflow: hidden;
  .info {
    width: 40%;
    float: left;
    h2 {
      font-size: 55px;
      font-weight: bold;
    }
    p {
      font-size: 30px;
      color: #8a8f98;
      span {
        color: white;
      }
    }
  }
  .logo {
    width: 40%;
    float: right;
    img {
      width: 100%;
    }
  }
}
.fourth-section {
  background-color: #050505;
  padding: 40px 0;
  overflow: hidden;
  position: relative;
  .logo {
    width: 50%;
    float: left;
    img {
      width: 100%;
    }
  }
  .info {
    width: 45%;
    float: right;
    line-height: 50px;
    h2 {
      font-size: 55px;
      font-weight: bold;
    }
    p {
      color: #8a8f98;
      font-size: 26px;
      span {
        color: white;
      }
    }
  }
}
.fifth-section {
  padding: 40px 0;
  background-color: #0f0f0f;
  text-align: center;
  h1 {
    font-size: 55px;
    font-weight: bolder;
  }
  p {
    color: #8a8f98;
    font-size: 23px;
  }
  .logo {
    img {
      width: 100%;
    }
  }
}

.sexth-section {
  padding: 40px 0;
  background-color: #0f0f0f;
  text-align: center;
  h1 {
    font-size: 35px;
    font-weight: bolder;
  }
  p {
    color: #8a8f98;
    font-size: 23px;
  }

  .logo {
    width: 100%;
    padding: 20px 0;
    img {
      width: 100%;
    }
  }
}
.seventh-section {
  padding: 40px 0;
  text-align: center;
  h2 {
    font-size: 50px;
  }
  p {
    font-size: 22px;
    color: #8a8f98;
    font-weight: bold;
  }
  button {
    background-color: #59b97e;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
  }
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #8a8f98;
  color: #050505;
}
